{% extends 'base.html' %}
{% load static %}


{% block page_title %}Silk Way{% endblock page_title%}

{% block custom_css %} 

<style>
#btnmore{
    background-color: #fdab44;
	color: aliceblue;
    padding: 5px 20px;
}

#btnmore:hover{
background-color: #fdab44;
color: rgb(127, 47, 180);
padding: 5px 20px;
}
</style>

{% endblock custom_css %} 
    

{% block content %}
    <div class="hero-wrap img" style="background-image: url(static/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
      	<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
	        <div class="col-md-10 d-flex align-items-center ftco-animate">
	        	<div class="text text-center pt-5 mt-md-5">
	        		<p class="mb-4">Главная цель национального проекта «Silk Way» — повышение качества строительства дорог</p>
	            <h1 class="mb-5">ДЕЛАЕМ ДОРОГИ БЕЗОПАСНЕЕ ВМЕСТЕ И ЛУЧШЕ!</h1>
							<div class="ftco-counter ftco-no-pt ftco-no-pb">
			        	<div class="row">
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-worldwide"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="7000000000">0</strong>
					                <span>Выделено денег:</span>
				                </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-visitor"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="450">0</strong>
					                <span>Испольнители:</span>
					              </div>
				              </div>
				            </div>
				          </div>
				          <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
				            <div class="block-18 text-center">
				              <div class="text d-flex">
				              	<div class="icon mr-2">
				              		<span class="flaticon-resume"></span>
				              	</div>
				              	<div class="desc text-left">
					                <strong class="number" data-number="100000">0</strong>
					                <span>Проложено дорог:</span>
					              </div>
				              </div>
				            </div>
				          </div>
				        </div>
			        </div>
							<div class="ftco-search my-md-5">
								<div class="row">
			            <div class="col-md-12 nav-link-wrap">
				            <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				              <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Поиск</a>
							  

				            </div>
				          </div>
				          <div class="col-md-12 tab-wrap">
				            
				            <div class="tab-content p-4" id="v-pills-tabContent">

				              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
				              	<form action="{% url 'map-more-info' %}" method="post" class="search-job">
									{% csrf_token %}
				              		<div class="row no-gutters">
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
					              				<div class="form-field">
					              					<div class="icon"><span class="icon-briefcase"></span></div>
									                <input type="text" class="form-control" placeholder="eg. Garphic. Web Developer">
									              </div>
								              </div>
				              			</div>
				              			<div class="col-md mr-md-2">
				              				<div class="form-group">
				              					<div class="form-field">
					              					<div class="select-wrap">
							                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
							                      <select name="" id="" class="form-control">
							                      	<option value="">Category</option>
							                      	<option value="">Full Time</option>
							                        <option value="">Part Time</option>
							                        <option value="">Freelance</option>
							                        <option value="">Internship</option>
							                        <option value="">Temporary</option>
							                      </select>
							                    </div>
									              </div>
								              </div>
				              			</div>
										
										<div class="col-md mr-md-2">
											<div class="form-group">
												<div class="form-field">
													<input id="regionname" name="regionname" type="text" class="form-control" placeholder="Location" required>													
												</div>
											</div>
										</div>
										<div class="col-md">
											<div class="form-group">
												<div class="form-field">
													<button type="submit" class="form-control btn btn-primary">Поиск</button>
												</div>
											</div>
										</div>
				              		</div>
				              	</form>
				              </div>
				            </div>
				          </div>
				        </div>
			        </div>
	          </div>
	        </div>
	    	</div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-12">
    				<div class="category-wrap">
    					<div class="row no-gutters">
    						<div class="col-md-2">
    							<div class="top-category text-center no-border-left">
    								<h3><a href="#">Результаты опроса</a></h3>
    								<span class="icon flaticon-contact"></span>
    								<p><span class="number">143</span> <span>прошли опрос</span></p>
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Дорожный словарь</a></h3>
    								<span class="icon flaticon-mortarboard"></span>
    								<p><span class="number">15</span> <span>Терминов</span></p>
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center active">
    								<h3><a href="#">Оставить отметку</a></h3>
    								<span class="icon flaticon-idea"></span>
    								<p><span class="number">143</span> <span>Open position</span></p>
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="{% url 'get_map' %}">Посмотреть карту регионов</a></h3>
    								<a href="{% url 'get_map' %}"><span class="icon flaticon-accounting"></span></a>
    								<p><span class="number">143</span> <span>Open position</span></p>
    							</div>
    						</div>
    						<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Официальные группы</a></h3>
    								<span class="icon flaticon-dish"></span>
    								<p><span class="number">143</span> <span>Open position</span></p>
    							</div>
    						</div>
							<div class="col-md-2">
    							<div class="top-category text-center">
    								<h3><a href="#">Путешествие с БКД</a></h3>
    								<span class="icon flaticon-dish"></span>
    								<p><span class="number">143</span> <span>Open position</span></p>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

	

		<section class="ftco-section bg-light">
			
			<div class="container">
				<div class="row">
					<div class="col-lg-9 pr-lg-5">
						<div class="row justify-content-center pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<!-- <span class="subheading">Регион</span> -->
		            <h2 class="mb-4">Народный рейтинг </h2>
		          </div>
		        </div>
						<div class="row">
							<div class="col-md-12 ftco-animate">
								<div class="job-post-item p-4 d-block d-lg-flex align-items-center">
								<div class="one-third mb-4 mb-md-0">
									<div class="job-post-item-header align-items-center">
									<h2 class="mr-3 text-black"><a href="#">Название улицы</a></h2>
									<p class="ml-auto mr-2">«Безопасные качественные дороги» — национальный проект, реализуемый в 84 регионах страны. Он оказывает большое влияние на транспортную инфраструктуру в России:</p>
									</div>
									<div class="job-post-item-body d-block d-md-flex">
									<div class="mr-3"><span class="icon-layers"></span>10.01.2023</div>
									<div><span class="icon-my_location"></span> <span>Регион</span></div>
									</div>
								</div>

								<div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
									<div>
										<a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
											<span class="icon-heart"></span>
										</a>
									</div>
									<a href="{% url 'get_detail' %}" class="btn btn-danger py-2">Убитая дорога</a>
								</div>
								</div>
							</div><!-- end -->

							<div class="col-md-12 ftco-animate">
								<div class="job-post-item p-4 d-block d-lg-flex align-items-center">
								<div class="one-third mb-4 mb-md-0">
									<div class="job-post-item-header align-items-center">
										<h2 class="mr-3 text-black"><a href="#">Название улицы</a></h2>
										<p class="ml-auto mr-2">Описание</p>
									</div>
									<div class="job-post-item-body d-block d-md-flex">
										<div class="mr-3"><span class="icon-layers"></span>10.01.2023</div>
										<div><span class="icon-my_location"></span> <span>Регион</span></div>
									</div>
								</div>

								<div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
									<div>
										<a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
											<span class="icon-heart"></span>
										</a>
									</div>
									<a href="{% url 'get_detail' %}" class="btn btn-info py-2">Локальный дефект</a>
								</div>
								</div>
							</div><!-- end -->

							<div class="col-md-12 ftco-animate">
								<div class="job-post-item p-4 d-block d-lg-flex align-items-center">
								<div class="one-third mb-4 mb-md-0">
									<div class="job-post-item-header align-items-center">
										<h2 class="mr-3 text-black"><a href="#">Название улицы</a></h2>
										<p class="ml-auto mr-2">Описание</p>
									</div>
									<div class="job-post-item-body d-block d-md-flex">
										<div class="mr-3"><span class="icon-layers"></span>10.01.2023</div>
										<div><span class="icon-my_location"></span> <span>Регион</span></div>
									</div>
								</div>

								<div class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
									<div>
										<a href="#" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
											<span class="icon-heart"></span>
										</a>
									</div>
									<a href="{% url 'get_detail' %}" class="btn btn-warning py-2">В планах на ремонт</a>
								</div>
								</div>
							</div><!-- end -->
						</div>
						
		      </div>


			  <div class="col-lg-3 sidebar mt-5">
				<div class="sidebar-box bg-white p-4 ftco-animate mt-4">
					<h3 class="heading-sidebar">Поиск</h3>
					<form action="#" class="search-form mb-3">
				<div class="form-group">
				  <span class="icon icon-search"></span>
				  <input type="text" class="form-control" placeholder="Search...">
				</div>
			  </form>
					<form action="#" class="browse-form">
							  <label for="option-job-1"><input type="checkbox" id="option-job-1" name="vehicle" value="" checked> Убитая дорога</label><br>
							  <label for="option-job-2"><input type="checkbox" id="option-job-2" name="vehicle" value=""> Локальный дефект</label><br>
							  <label for="option-job-3"><input type="checkbox" id="option-job-3" name="vehicle" value=""> В планах на ремонт</label><br>
							  <label for="option-job-4"><input type="checkbox" id="option-job-4" name="vehicle" value=""> Дорога отремонтирована</label><br>
							  <label for="option-job-5"><input type="checkbox" id="option-job-5" name="vehicle" value=""> Нарушения на дороге</label><br>
							  <label for="option-job-6"><input type="checkbox" id="option-job-6" name="vehicle" value=""> Локальный дефект исправлен</label><br>
							</form>
				</div>
				</div>

				</div>

			</div>
		</section>

		<section class="ftco-section services-section">
			<div class="ftco-counter ftco-no-pt ftco-no-pb">
				<div class="row">
	
				  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-worldwide"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="46">0</strong>
							<span>Дорог добавлено на карту</span>
						</div>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 text-center">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-visitor"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="450">0</strong>
							<span>Убитых дорог</span>
						  </div>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 text-center">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-resume"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="80000">0</strong>
							<span>Голосов собрано</span>
						  </div>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 text-center">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-resume"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="2500">0</strong>
							<span>Ямочный ремонт</span>
						  </div>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate mt-md-5">
					<div class="block-18 text-center">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-resume"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="4700">0</strong>
							<span>Дорог отремонтировано</span>
						  </div>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate mt-md-5">
					<div class="block-18 text-center">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-resume"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="500">0</strong>
							<span>Дороги по БКАД</span>
						  </div>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate mt-md-5">
					<div class="block-18 text-center">
					  <div class="text d-flex">
						  <div class="icon mr-2">
							  <span class="flaticon-road"></span>
						  </div>
						  <div class="desc text-left">
							<strong class="number" data-number="500">0</strong>
							<span>В планах ремонта</span>
						  </div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</section>

		<section class="ftco-section bg-light">
			<div class="container">
			  <div class="row justify-content-center mb-5 pb-3">
				<div class="col-md-7 heading-section text-center ftco-animate">
					<span class="subheading">Пресс-центр</span>
				  <h2><span>Новости</span> проекта</h2>
				</div>
			  </div>
	
			  <div class="row">
	
				<div class="col-md-3 ftco-animate">
				  <div class="blog-entry align-self-stretch">
					<a href="blog-single.html" class="block-20" style="background-image: url('https://www.stroypraym.ru/images/stories/ximages/asphalt-g574b1fd8d_1280.webp');">
					</a>
					<div class="text mt-3">
						<div class="meta mb-2">
						<div><a href="#">August 28, 2019</a></div>
						<div><a href="#">Admin</a></div>
						<div><a href="#" class="meta-chat"><span class="icon-chat"></span> 1</a></div>
					  </div>
					  <h3 class="heading"><a href="#">Устройство асфальтирование покрытия протяженностью 500 метров ул Ынтымак на уч.Жаны-Жол</a></h3>
					</div>
				  </div>
				</div>
	
				<div class="col-md-3 ftco-animate">
					<div class="blog-entry align-self-stretch">
					  <a href="blog-single.html" class="block-20" style="background-image: url('https://static.baza.drom.ru/drom/1573196574072_bulletin');">
					  </a>
					  <div class="text mt-3">
						  <div class="meta mb-2">
						  <div><a href="#">August 28, 2019</a></div>
						  <div><a href="#">Admin</a></div>
						  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
						</div>
						<h3 class="heading"><a href="#">Покупка автозапчастей ВАЗ-2107 и ВАЗ-21214.</a></h3>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-3 ftco-animate">
					<div class="blog-entry align-self-stretch">
					  <a href="blog-single.html" class="block-20" style="background-image: url('https://www.novoedevyatkino.ru/2022/%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D1%82%D0%B2%D0%BE%20%D0%94%D0%9A/IMG_4455.JPG');">
					  </a>
					  <div class="text mt-3">
						  <div class="meta mb-2">
						  <div><a href="#">August 28, 2019</a></div>
						  <div><a href="#">Admin</a></div>
						  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 6</a></div>
						</div>
						<h3 class="heading"><a href="#">Строительство кровли сельского дома культуры имени Жороева с/у Тоолос</a></h3>
					  </div>
					</div>
				  </div>
	
				  <div class="col-md-3 ftco-animate">
					<div class="blog-entry align-self-stretch">
					  <a href="blog-single.html" class="block-20" style="background-image: url('https://diesel.elcat.kg/uploads/monthly_10_2021/post-15-0-03435100-1634212929.jpg');">
					  </a>
					  <div class="text mt-3">
						  <div class="meta mb-2">
						  <div><a href="#">August 28, 2019</a></div>
						  <div><a href="#">Admin</a></div>
						  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a></div>
						</div>
						<h3 class="heading"><a href="#">Замена дверей и окон здания средней школы им. М. Бостонбаева, расположенной в селе Айтамга сельского района (стим грант)</a></h3>
					  </div>
					</div>
				  </div>
	
			  </div>
	
			</div>
			<div class="row justify-content-center">
				<a href="{% url 'newses' %}" id="btnmore" class="btn">Еще</a>
			</div>
		  </section>
		
		<section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-12">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

	

{% endblock content %}